body {
    margin: 0px;
}

#root {
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

*:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #1f8e6d;
    border-radius: 2px;
}

.with-gradient {
    background-image: linear-gradient(to bottom, rgba(218, 208, 208, 0.5), rgba(0, 0, 0, 0));
}

.force-secondary-color label {
    color: #7e9990;
}

.force-primary-color > span {
    color: #098d44;
}
