.login-background {
    display: flex;
    position: relative;
    background-image: url(../../assets/login-background.png);
    background-position: top left; 
    background-size: auto 100%; 
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: white;
}

.registration-background {
    display: flex;
    position: relative;
    background-image: url(../../assets/registration-background.jpg);
    background-position: bottom right; 
    background-size: auto 100%; 
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: white;
}

.radio-group {
    display: flex;
    justify-content: center;
}

.error-text{
    color: red;
    font-size: 0.9rem !important;
}